a {
  text-decoration: none;
}


td, th {
  text-align: center; 
  vertical-align:middle;
}

/* Стили страницы перевода */
.edit-tbl {
  border: none;
}

.edit-tbl > th, td, tr {
  border: none;
  border-style: none;
}

.edit-tbl td, .edit-tbl th {
  text-align: left; 
  vertical-align: top;
}

textarea.form-control {
  font-size: .900rem;
}

.save_button {
  font-size: 2em;
}

body {
  font-size: .900rem;
}

#divTranslation {
  border: ridge 1px;
  padding: 5px;
  min-height: 5em;
}

#divOriginal {
  padding: 5px;
}

.elem_title {
  font-size: 1.5em;
  font-weight: bold;
}

.elem_subtitle {
  font-weight: bold;
}

.elem_note {
  font-style:italic;
}

.elem_list::before {
  content: "♥";
}

.select-css { 
  display: block; 
  font-size: 12px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #444; 
  line-height: 1.1; 
  padding: .6em 1.2em 0.6em .4em; width: 100%; 
  max-width: 100%; 
  box-sizing: border-box; 
  margin: 0; 
  border: 1px solid #aaa;
   box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: .3em;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background-color: #fff; 
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
  background-repeat: no-repeat, repeat;
  background-position: right .2em top 50%, 0 0;
  background-size: .65em auto, 100%; 
} 
   .select-css::-ms-expand { display: none; } 
   .select-css:hover { border-color: #888; } 
   .select-css:focus { border-color: #aaa; 
   box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
   box-shadow: 0 0 0 3px -moz-mac-focusring; 
  color: #222;
   outline: none; 
  } 
   .select-css option { font-weight:normal; } 
   *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
  background-position: left .7em top 50%, 0 0; 
  padding: .3em .4em .3em 0.2em; 
  }

  .show_result > button {
    text-align: center;
    padding: 15px; 
  }



  /* SORT TR */
  .sortable-ul {
    list-style-type: none; 
    margin: 10px auto; 
    padding: 0; 
    width: 500px;
  }
  .sortable-ul li {
    margin: 4px 0; 
    padding: 5px 10px; 
    font-size: 16px;
    background: #eee;
    border: 1px solid #e0e0e0;
    border-left: 8px solid #e0e0e0;
    line-height: 24px;
  }
  .sortable-ul li input {
    font-size: 12px;
    display: inline-block;
    margin: 0 10px;
    line-height: 22px;
    padding: 0 5px;
  }
  
  .handle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/static/main/img/icon_move.png) 0 50% no-repeat;
    margin-right: 10px;
    vertical-align: middle;
  }

  .item_tag {
    font-size: 0.9em;
    color: gray;
  }

  /* save_result */

  #save_result > img {
    width: 30px;
    margin: 10px 0 0 12px;
  }

  #result > div {
    float: left;
  }


/* table buttons */

.btn-del {
  color: red;
}

.btn-chng {
  color: rgb(0, 22, 223);
}

.btn-edit {
  color: rgb(0, 179, 30);
}

.btn-get-translation-unique {
  color: rgb(0, 47, 255);
}

.btn-del svg, .btn-chng svg, .btn-edit svg {
  margin-right: 5px;
}

/* Процент уникальности оригинала span style */
.uniq_percent_span {
  background-color: rgb(100,16,0);
  color: #fff;
  font-weight: bold;
  border-radius: 14px 0 10px 0;
  padding: 5px;
}