{% extends "base.html" %}

{% block title %}Лог{% endblock %}
{% block title2 %}Лог{% endblock %}

{% block content %}
    {% if logs %}
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th width="100px">Время</th>
                <th width="150px">Статья</th>
                <th>Сообщение</th>
              </tr>
            </thead>
            <tbody id="tr_edit_body">
              {% for log in logs %}
              <tr>
                <td>{{ log.created }}</td>
                <td>{{ log.article.title }}</td>
                <td>{{ log.text }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

    {% else %}
        <p>Лог-сообщений нет</p>
    {% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  function del_row(id) {
    console.log(id)
    var result_style = document.getElementById(id).parentElement.parentElement.style;
    result_style.display = 'None';
  }

  window.onload = function() {
    set_style_all_tr()
  };

  function set_style_all_tr() {
    select_list = document.getElementsByClassName("select-css")

    for (var i = 0; i < select_list.length; i++) {
      select_set_style(select_list[i])
    }
  }

  function select_set_style(select) {
    new_val = select.value
    
    tr_parent = select.parentElement.parentElement

    orig_el = tr_parent.children[2].children[0]
    transl_el = tr_parent.children[3].children[0]

    if (new_val == 'Заголовок') {
      orig_el.className = 'elem_title'
      transl_el.className = 'elem_title'
    }
    else if (new_val == 'Подзаголовок') {
      orig_el.className = 'elem_subtitle'
      transl_el.className = 'elem_subtitle'
    }
    else if (new_val == 'Абзац-примечание') {
      orig_el.className = 'elem_note'
      transl_el.className = 'elem_note'
    }
    else if (new_val == 'Элемент списка') {
      orig_el.className = 'elem_list'
      transl_el.className = 'elem_list'
    }
    else {
      orig_el.className = ''
      transl_el.className = ''
    }
  }
</script>
{% endblock %}